<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
<head th:fragment="head">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title th:text="#{msg.app.name}"></title>
<link rel="icon" th:href="@{/assets/img/favicon.ico}" type="ico"
	sizes="16x16">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/styles.css}">
<link rel="stylesheet" type="text/css"
    th:href="@{/assets/css/Login-Form-Clean.css}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<nav th:fragment="navbar" class="navbar navbar-expand-sm bg-light ">
	<div class="navbar-brand">
		<img class="img-fluid d-inline-block" id="logo"
			th:src="@{/assets/img/logo.png}">

	</div>
	<ul class="navbar-nav ml-auto">
		<li class="nav-item">
			<a th:href="@{/}" class="btn btn-info btn-block"
			   th:text="#{msg.nav.home}">Početna</a>
		</li>
		<li class="nav-item">
			<a th:href="@{/transaction/new}" class="btn btn-info btn-block"
			   th:text="#{msg.nav.newTransaction}">Nova transakcija</a>
		</li>
		<li class="nav-item">
			<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/allExpenses}"
			   class="btn btn-info btn-block" th:text="#{msg.nav.allExpenses}">Svi troškovi</a>
		</li>
		<li class="nav-item" th:if="${false}">
			<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/administration}"
			   class="btn btn-info btn-block" th:text="#{msg.nav.administration}">Administracija</a>
		</li>

		<li style="padding-left: 10px; padding-top: 5px; padding-right: 10px;" class="nav-item">
			<span sec:autorize="isAuthenticated()"
				  th:text="#{msg.nav.signInfo(${#authentication.name})}">Prijavljeni ste kao JUZER</span>
			<a th:href="@{/logout}" class="btn btn-warning btn-sm" style="width: 35%; display: inline;"
			   th:text="#{msg.nav.logout}">Odjava</a>
		</li>

		<li class="nav-item" th:if="${false}">
			<label for="locales" style="display: none;">Jezik</label>
			<select id="locales">
				<option value="hr" th:selected="${#locale.language == 'hr'}" th:text="#{msg.lang.hr}"></option>
				<option value="en" th:selected="${#locale.language == 'en'}" th:text="#{msg.lang.en}"></option>
				<option value="fr" th:selected="${#locale.language == 'fr'}" th:text="#{msg.lang.fr}"></option>
				<option value="de" th:selected="${#locale.language == 'de'}" th:text="#{msg.lang.de}"></option>
			</select>
		</li>
	</ul>
</nav>

<div th:fragment="scripts">
	<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</div>

</body>
</html>