<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments :: head"></div>

<body>
<div th:replace="fragments :: navbar"></div>
	<div class="login-clean">
		
		<!-- forma -->
		<form>
		
			<div class="form-group" th:object="${transaction}">
				
				<p th:text="#{msg.info.confirmation(*{name},*{value} )}"/>
				<p th:text="#{msg.info.date(*{TransactionCategory.desc},${transaction.date})}"/>
				<p th:text="#{msg.info.balance(${wallet.walletName}, ${wallet.balance})}"/>

			</div>
			<a href="/index"
			   class="btn btn-info btn-block" th:text=#{msg.info.return}>
			</a>
		</form>
	</div>
	<div th:replace="fragments :: scripts"></div>
</body>
</html>